/* Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#appContainer {
	width: 100vw;
	height: 100vh;
}

#mainContent {
	padding: 25px;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

/* Title Bar */
#titleBar {
	height: 100px;
	background-color: lightcoral;
	color: white;
}

#titleBar .container {
	height: 100%;
	justify-content: center;
}

/* Flexbox */
.flex {
	display: flex;
}

.flex-grow-1 {
	flex: 1;
}

.flex-column {
	display: flex;
	flex-direction: column;
}
